#galeria{
    background-color: #9acfea;
}
#galeria input{
    margin: 10px;
}
#galeria textarea{
    margin-left: 10px;
}
#galeria label{
    margin-bottom: 10px;
}
#galeria button{
    background-color: #0b0b0b;
    border: 0px;
    color: #1b6d85;
    font-weight: bold;
    width: 100px;
    border-radius: 5px;
}

#asociados{
    background-color: #fca9a9;
}
#asociados input{
    margin: 10px;
}
#asociados textarea{
    margin-left: 10px;
}
#asociados button{
    background-color: #0b0b0b;
    border: 0px;
    color: #1b6d85;
    font-weight: bold;
    width: 100px;
    border-radius: 5px;
}
#contact button{
    background-color: #0b0b0b;
    border: 0px;
    color: #1b6d85;
    font-weight: bold;
    width: 100px;
    border-radius: 5px;
}
