{% extends 'base.html.twig' %}

{% block title %}Hello GaleriaController!{% endblock %}

{% block body %}
{{ parent() }}
    <div id="galeria">
        <div class="container">
            <div class="col-xs-12 col-sm-8 col-sm-push-2">
                <h1>GALERIA</h1>
                <hr>
                {{ form(formulario) }}
        <hr class="divider">
        <div class="imagenes_galeria">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Imagen</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Visualizaciones</th>
                    <th scope="col">Likes</th>
                    <th scope="col">Descargas</th>
                </tr>
                </thead>
                <tbody>
                {% for i in imagenes %}
                <tr>
                    <th scope="row">{{ i.id }}</th>
                    <td>
                        <img width="100px" src="{{ asset('uploads/'~i.nombre) }}">
                    </td>
                    <td>{{ i.categoria }} </td>
                    <td>{{ i.descripcion }}</td>
                    <td>{{ i.numVisualizaciones }}</td>
                    <td>{{ i.numLikes }}</td>
                    <td>{{ i.numDescargas }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <hr class="divider">
        <hr class="divider">
        <div class="address">
            <h3>GET IN TOUCH</h3>
            <hr>
            <p>Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero.</p>
            <div class="ending text-center">
                <ul class="list-inline social-buttons">
                    <li><a href="#"><i class="fa fa-facebook sr-icons"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-twitter sr-icons"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-google-plus sr-icons"></i></a>
                    </li>
                </ul>
                <? require 'partials/asociados.part.php' ?>
                <ul class="list-inline contact">
                    <li class="footer-number"><i class="fa fa-phone sr-icons"></i>  (00228)92229954 </li>
                    <li><i class="fa fa-envelope sr-icons"></i>  kouvenceslas93@gmail.com</li>
                </ul>
                <p>Photography Fanatic Template &copy; 2017</p>
            </div>
        </div>
    </div>
{% endblock %}
