{% extends 'base.html.twig' %}

{% block title %}Asociados{% endblock %}

{% block body %}
    {{ parent() }}
    <div id="asociados">
        <div class="container">
            <div class="col-xs-12 col-sm-8 col-sm-push-2">
                <h1>Asociados</h1>
                <hr>

                {{ form(formulario) }}

                <div class="imagenes_asociados">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Logo</th>
                            <th scope="col">Descripcion</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for a in asociados %}
                        <tr>
                            <th scope="row">{{ a.id }}</th>
                            <td>
                                {{ a.nombre }}
                            </td>
                            <td>
                                <img width="100px" src="{{ asset('uploads/'~a.logo) }}" alt="">
                            </td>
                            <td>{{ a.descripcion }}</td>
                        </tr>

                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <hr class="divider">
                <div class="address">
                    <h3>GET IN TOUCH</h3>
                    <hr>
                    <p>Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero.</p>
                    <div class="ending text-center">
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-facebook sr-icons"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-twitter sr-icons"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-google-plus sr-icons"></i></a>
                            </li>
                        </ul>
                        <ul class="list-inline contact">
                            <li class="footer-number"><i class="fa fa-phone sr-icons"></i>  (00228)92229954 </li>
                            <li><i class="fa fa-envelope sr-icons"></i>  kouvenceslas93@gmail.com</li>
                        </ul>
                        <p>Photography Fanatic Template &copy; 2017</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
