<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/magnific-popup') }}"/>
        <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
        <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.css') }}"/>
        <link rel="stylesheet" href="{{ asset('font-awesome/css/font-awesome.css') }}"/>
        <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap-theme.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/miestilo.css') }}"/>
    {% endblock %}


</head>
<body>
{% block body %}
    <!-- Navigation Bar -->
    <nav class="navbar navbar-fixed-top navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a  class="navbar-brand page-scroll" href="{{ path('index') }}">
                    <span>[PHOTO]</span>
                </a>
            </div>
            <div class="collapse navbar-collapse navbar-right" id="menu">
                <ul class="nav navbar-nav">
                    <li class="{{ app.request.get('_route') == 'index' ? 'active ' }} lien "><a href="{{ path('index') }}"><i class="fa fa-home sr-icons"></i>Home</a></li>
                    <li class="{{ app.request.get('_route') == 'about' ? 'active ' }} lien"><a href="{{ path('about') }}"><i class="fa fa-bookmark sr-icons"></i> About</a></li>
                    <li class="{{ app.request.get('_route') == 'blog' ? 'active ' }} lien"><a href="{{ path('blog') }}"><i class="fa fa-file-text sr-icons"></i> Blog</a></li>
                    <li class="{{ app.request.get('_route') == 'contact' ? 'active ' }} lien"><a href="{{ path('contact') }}"><i class="fa fa-phone-square sr-icons"></i> Contact</a></li>
                    <li class="{{ app.request.get('_route') == 'galeria' ? 'active ' }} lien"><a href="{{ path('galeria') }}"><i class="fa fa-image sr-icons"></i> Galeria</a></li>
                    <li class="{{ app.request.get('_route') == 'asociados' ? 'active ' }} lien"><a href="{{ path('asociados') }}"><i class="fa fa-hand-o-right sr-icons"></i> Asociados</a></li>
                    {% if not app.user %}
                        <li class="lien"><a href="{{ path('registro') }}"><i class="fa fa-hand-o-right sr-icons"></i>Registrar</a></li>
                        <li class="lien"><a href="{{ path('app_login') }}"><i class="fa fa-hand-o-right sr-icons"></i>Ingresar</a></li>
                    {% endif %}
                    {% if app.user %}
                        <li class="lien"><a href="{{ path('app_logout') }}"><i class="fa fa-hand-o-right sr-icons"></i>Cerrar Sesion</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('bootstrap/js/bootstrap.js') }}"></script>
    <script src="{{ asset('js/jquery.easing.js') }}"></script>
    <script src="{{ asset('js/jquery.magnific-popup.js') }}"></script>
    <script src="{{ asset('js/scrollreveal.js') }}"></script>
    <script src="{{ asset('js/script.js') }}"></script>
{% endblock %}
</body>
</html>
