{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
    <h1>403 Forbbiden</h1>

    <p>
        Acceso no autorizado
    </p>
{% endblock %}
