{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
    <h1>404 Not Found</h1>

    <p>
        No se ha cargado ningun elemento con: {{ app.request.pathInfo }}
    </p>
{% endblock %}
